.signUp-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
// mediaQueries
@media screen and(max-width:'986px') {
  .signUp-container {
    min-height: 100vh;
  }
  .svg-icon {
    img {
      width: 400px;
    }
  }
  .customField {
    width: 240px !important;
  }
}
